asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
PyJWT
pytz
sqlparse
# psycopg2-binary==2.9.5
psycopg==3.1.18
psycopg-binary==3.1.18
# pip install "psycopg[binary]"
python-dotenv